<head>
  <link rel='stylesheet' type='text/css' href='fullcalendar.css' />
  <script type='text/javascript' src='jquery.js'></script>
  <script type='text/javascript' src='fullcalendar.js'></script>
  <script src='fullcalendar.min.js'></script>
  <script type='text/javascript' src='calendar.js'></script>
  <script type='text/javascript' src='fullcalendar/gcal.js'></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="dropdown">
        <a data-toggle="dropdown" href="#" class="btn btn-default ">Staff <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">First Link</a></li>
          <li><a href="#">Second Link</a></li>
        </ul>
      </div>
    </div> <!-- end of row -->

    <div class="row">
      <div id="datepicker" class="col-sm-2"></div>
      <div id="calendar" class="col-sm-10"></div>
    </div><!-- end of row -->

    <div class="row">
      <div class="col-sm-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab">Upcoming</a></li>
          <li><a href="#profile" data-toggle="tab">Pending</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">upcoming</div>
          <div class="tab-pane" id="profile">pending</div>
        </div>
      </div>
    </div> <!-- end of row -->

    <!-- event modal -->
    <div id="createEventModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel1">Create Appointment</h3>
      </div>
      <div class="modal-body">
        <form id="createAppointmentForm" class="form-horizontal">
          <div class="control-group">
            <div class="controls">
              <div class="dropdown">
                <button class="btn dropdown-toggle sr-only" type="button" id="clientDropdown" data-toggle="dropdown">
                  Client Name
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                </ul>
              </div> <!--end of dropdown -->
            </div>
          </div>

          <div class="control-group control-row">
            <label class="control-label" for="apptStartTime">Start:</label>
            <input id="apptStartTime" class="control-row"/>
            <label class="control-label" for="apptEndTime">End:</label>
            <input id="apptEndTime" class="control-row"/>
          </div>

          <div class="control-group">
            <label class="control-label" for="when">When:</label>
            <div class="controls controls-row" id="when" style="margin-top:5px;">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
      </div>
    </div> <!-- end of event modal -->

  </div> <!-- end of container -->
</body>
