<style>
    .appt-leftnav-block{
        padding: 5px;
    }
</style>

<script type="text/javascript">
    // populate an appointment info block on the left nav
    function renderOneAppt(target_id, appt){
        //console.log(appt);
        // append appt object to target div
        var content = '';
        //content += '<b>'+appt.datestart+'</b> at <b>'+appt.timestart+'</b><br/>'
        content += '<b>' + appt.service.name + '</b><br/>';
        content += appt.guest.first_name + ' ' + appt.guest.last_name + '<br/>';
        content += 'scheduled w/' + appt.host.first_name + ' ' + appt.host.last_name + '<br/>';
        //content += 'Guest: ' + appt.
        // build appt info div
        var $appt_info = $('<div>', {
            html: content,
            class: 'appt-leftnav-block'
        });

        // build appt button div
        var $time = '<b>'+appt.datestart+'</b> at <b>'+appt.timestart+'</b><br/>';
        if(appt.accepted != true){
            var $appt_button = $('<div>', {
                html: $time + '<button class="pull-right btn btn-success leftnav-approve-button" data-appt-id="' + appt.id + '">Approve</button>',
                class: 'appt-leftnav-block'
            });
        } else {
            var $appt_button = $('<div>', {
                html: $time + '<button class="pull-right btn btn-default leftnav-cancel-button" data-appt-id="' + appt.id + '">Cancel</button>',
                class: 'appt-leftnav-block'
            });
        }

        // combine info and button blocks into appt block div
        var $appt_block = $('<div>', {
            class: 'border-bottom',
            id: 'appt-leftnav-'+appt.id
        });
        $appt_block.append($appt_button);
        $appt_block.append($appt_info);
        $appt_block.append('<div class="clearboth"></div>');

        // add to page
        $('#'+target_id).append($appt_block);

        bindApptButtons($appt_block);
    }

    // enable "Approve" and "Cancel" buttons in left nav
    function bindApptButtons($target){

        $target.find('.leftnav-approve-button').on('click',function(e){
            e.preventDefault();
            approveAppt($(this).attr('data-appt-id'));
        });
        $target.find('.leftnav-cancel-button').on('click',function(e){
            console.log('cancel clicked');
            e.preventDefault();
            cancelAppt($(this).attr('data-appt-id'));
        });
    }

    // approve appointment by ajax post
    function approveAppt(id){
        console.log("Approving id: "+id);
        // send approve request
        $.ajax({
            url: '/account/appointments/approve/'+id
        }).done(function(appt){
            console.log(appt);

                // remove the appt block from the "unapproved" pane
                $('#appt-leftnav-'+appt.id).remove();
                //render the appointment in the "approved" pane
                renderOneAppt('appointments_approved', appt);

        }).fail(function(){
            console.log('could not approve appointment!');
        });
    }

    // cancel appointment by ajax post
    function cancelAppt(id){
        console.log("Cancelling id: "+id);
        // send cancel request
        $.ajax({
            url: '/account/appointments/cancel/'+id
        }).done(function(appt){
            console.log(appt);

            // remove the appt block from the "unapproved" pane
            $('#appt-leftnav-'+appt.id).remove();

            // re-render calendar
            $("#calendar").fullCalendar( 'refetchEvents' );

        }).fail(function(){
            console.log('could not cancel appointment!');
        });
    }
  $(document).ready(function(){

      // enable nav tabs
      $('.nav-tabs a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
      });


      // get approved appointments and populate in approved tab pane
      $.ajax({
          url: '/account/appointments/approved'
      }).done(function(data){
          //console.log(data);
          $.each(data, function(index, appt){
            //console.log(appt);
            renderOneAppt('appointments_approved', appt);
          });
      });

      // get unapproved appointments and populate in approved tab pane
      $.ajax({
          url: '/account/appointments/unapproved'
      }).done(function(data){
          //console.log(data);
          $.each(data, function(index, appt){
              //console.log(appt);
              renderOneAppt('appointments_unapproved', appt);
          });
      });


  });
</script>


  <div class="container">
    <div class="row">
      <div class="dropdown">
        <a data-toggle="dropdown" href="#" class="btn btn-default ">Staff <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">First Link</a></li>
          <li><a href="#">Second Link</a></li>
        </ul>
      </div>
    </div> <!-- end of row -->

    <div class="row">
      <div class="col-sm-3">
        <div id="datepicker"></div>
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#appointments_approved" data-toggle="tab">Scheduled</a></li>
            <li><a href="#appointments_unapproved" data-toggle="tab">Pending</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active clearboth" id="appointments_approved"></div>
            <div class="tab-pane clearboth" id="appointments_unapproved"></div>
          </div>
        </div>
      </div>
      <div id="calendar" class="col-sm-9"></div>
    </div><!-- end of row -->

    <div class="row">

    </div> <!-- end of row -->



  </div> <!-- end of container -->


<!-- event modal -->
<div id="createEventModal" class="modal hide" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel1">Create Appointment</h3>
  </div>
  <div class="modal-body">







    <form id="createAppointmentForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-3">
          <div class="dropdown">
            <button class="btn dropdown-toggle sr-only" type="button" id="clientDropdown" data-toggle="dropdown">
              Client Name
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            </ul>
          </div> <!--end of dropdown -->
        </div>
      </div>

      <br>

      <div class="form-inline">
        <label class="form-control" for="apptStartTime">Start:</label>
        <input id="apptStartTime" class="control-row"/>
        <label class="form-control" for="apptEndTime">End:</label>
        <input id="apptEndTime" class="control-row"/>
      </div>

      <br>

      <div class="form-inline">
        <div class="dropdown">
          <button class="btn dropdown-toggle sr-only" type="button" id="clientDropdown" data-toggle="dropdown">
            Staff name
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          </ul>
        </div> <!--end of dropdown -->
      </div>

      <br>

      <div class="form-inline">
        <div class="dropdown">
          <button class="btn dropdown-toggle sr-only" type="button" id="clientDropdown" data-toggle="dropdown">
            Service
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          </ul>
        </div> <!--end of dropdown -->
      </div>

      <br>

      <div class="form-inline">
        <div class="dropdown">
          <button class="btn dropdown-toggle sr-only" type="button" id="clientDropdown" data-toggle="dropdown">
            Service type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          </ul>
        </div> <!--end of dropdown -->
      </div>

      <br>

      <div class="form-inline">
        <label class="form-control" for="apptStartTime">Notes: </label>
        <textarea class="control-row"/></textarea>
      </div>

      <br>

      <div class="form-inline">
        <button class="btn btn-default">View payment</button>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
  </div>
</div> <!-- end of event modal -->

