

  <!-- Header and Nav -->

  <!-- End Header and Nav -->


  <!-- First Band (Image) -->

  <!-- Second Band (Image Left with Text) -->

  <!-- Third Band (Image Right with Text) -->


  <!-- Footer -->
<h1>Company Directory</h1>
<% @companies.each do |company| %>
<h3><a href="/companies/<%= company.id%>"><%= company.name %></a></h3>
<% end %>

